<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body class="layui-layout-body" style="overflow-x: hidden;overflow-y: auto">

<div style="padding: 20px; background-color: #F2F2F2;">
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">用户管理</div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="" style="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">角色</label>
                                <div class="layui-input-inline">
                                    <input type="password" name="password" lay-verify="pass" placeholder="请输入角色名关键字" autocomplete="off" class="layui-input">
                                </div>

                                <div>
                                    <button class="layui-btn">角色查询</button>
                                    <button class="layui-btn layui-btn-normal">角色配置</button>
                                    <button class="layui-btn layui-btn-danger">角色删除</button>
                                    <button class="layui-btn layui-btn-warm">角色添加</button>

                                </div>
                            </div>
                        </form>
                        <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="../layui/layui.all.js"></script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            ,url: '/userApi/listUserInformation'
            ,cols: [
                [
                {checkbox: true, fixed: true}
                ,{field:'id', title: 'ID', width:80, sort: true, fixed: true}
                ,{field:'userName', title: '用户名', width:80}
                ,{field:'isLock', title: '是否锁定', sort: true}
                ,{field:'passWord', title: '密码'}
                ,{field:'createTime', title: '创建时间', sort: true}
            ]
            ]
            ,id: 'testReload'
            ,page: true
            // ,height: 560
        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: {
                            id: demoReload.val()
                        }
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>

</body>
</html>